<div class='main'>
  <%# FURIMAが選ばれる3つの理由部分 %>
  <div class='select-reason-contents'>
     <div class = 'kaigo-introduction'>
        <div class= 'introduction'>
          For-Cg 👉 〜介護士(Caregiver)のために 〜
        </div>
        <div class= 'introduction-detail'>
          近年少子高齢社会が進んでいくと同時に、介護士の人員不足が進んでいます。
          更に介護士の業務内容を調べるに当たり、業務内容にアナログ的な作業が多くあり、業務効率化を考え、このサービスを作成しました。
        </div>
        <div class= 'function-list'>
          〜 機能一覧 〜
        </div>
     </div>
    <ul class='reason-lists'>
      <li class='list'>
        <%= image_tag "room.jpg", class:"list-pict" %>
        <span class='reason-list-number'>1</span>
        <h3 class='reason-list-text'>
          <div class='reason-list-blue-text'>ルーム機能</div>
        </h3>
        <p class='reason-list-description'>
          勤務ごとの業務連絡・引き継ぎに！
        </p>
      </li>
      <li class='list'>
        <%= image_tag "message.jpg", class:"list-pict" %>
        <span class='reason-list-number'>2</span>
        <h3 class='reason-list-text'>
          <div class='reason-list-blue-text'>メッセージ機能</div>
          
        </h3>
        <p class='reason-list-description'>
          記録時間を短く、わかりやすく！
        </p>
      </li>
      <li class='list'>
        <%= image_tag "calender.jpg", class:"list-pict" %>
        <div class='reason-list-number'>3</div>
        <h3 class='reason-list-text'>
          <div class='reason-list-blue-text'>カレンダー機能</div>
        </h3>
        <p class='reason-list-description'>
          いつでもスケジュール確認が可能に！
        </p>
      </li>

      <li class='list'>
        <%= image_tag "condition.jpg", class:"list-pict" %> 
        <div class='reason-list-number'>4</div>
        <h3 class='reason-list-text'>
          <div class='reason-list-blue-text'>利用者記録機能</div>
        </h3> 
        <<p class='reason-list-description'>
          記録を的確且つ効率よく！ 
        </p> 
      </li>

      <div class='start'>↖  <span class = start-box>ルームを作成する</span> をクリックしてスタート！</div>
    </ul>
  </div>
</div>