// Place all the styles related to the conditions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//利用者記録(一覧ページ)


.conditions-title {
  text-align: center;
  font-size: 37px;
  margin-top: 30px;
  font-family: 'Osaka';
}

.post{
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
  box-shadow: 0 3px 5px rgba(66, 41, 41, 0.3);
  display: block;
  width: 150px;
  padding: 10px;
  border: 1px solid white;
  background-color: orange;
  color: white;
  text-decoration: none;
  text-align: center;
  margin: 30px auto;
  margin-bottom: 40px;
  font-size: 20px;
}


.index-source{
  height:200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  margin-bottom: 30px;
  background-color: lightblue;
}

.index-about{
  display: flex;
  align-items: center;
}


.index-see{
  font-size: 20px;
  font-weight: bold;
  margin-right: 70px;
  display: block;
}



//利用者記録(記録ページ)


.condition-box {
  height:800px;
  background-color: #E6FFE9;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 30px;
  padding-top: 20px;
  padding-bottom: 30px; 
}

.new-source{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px; 
}

.title {
  height: 30px;
  width: 300px;
  margin-top: 20px;
}

.new-about{
  font-size: 20px;
  margin-bottom: 30px;  
}

.new-see{
  font-size: 20px;  
}

.text {
  height: 200px;
  width: 800px;
  resize:none;
  margin-bottom: 20px;
  font-size: 20px;
}

.select{
  height: 30px;
  width: 100px;
  margin-bottom: 80px;
}

.register-btn {
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
  width: 200px;
  margin-top: 20px;
  padding: 10px;
  border: 1px solid white;
  background-color: orange;
  color: white;
}

