//トップページ右側

body{
  margin: 0px;
}

.top {
  width: calc(100vw - 300px); 
}

a {
  text-decoration: none;
}

.main {
  overflow: scroll;
}


.select-reason-contents {
  padding: 5vh 15vw;
  overflow: scroll;
  background-image: image_url("dpngzwokfpsexjpxidjskm9jzi1co37h.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  flex-direction: column;
  align-items: flex-start;
  width: 80vw;
  height: 100vh;
}

.introduction{
  font-size: 30px;  
  text-align: start;
  color: black;
  margin-bottom: 10px;
  font-family: 'ヒラギノ角ゴ StdN','Hiragino Kaku Gothic StdN',sans-serif; 
}

.introduction-detail{
  font-size: 20px;
  margin-bottom: 20px;
  color: black;
  font-family: 'Osaka';
}

.function-list{
  margin-bottom: 20px;
  text-align: center;
  font-size: 25px;
  color: red;
}

.select-reason-contents>.title {
  text-align: center;
  font-size: 3.5vh;
  font-weight: bold;
  margin-bottom: 5vh;
  position: relative;
}

.select-reason-contents>.title::after {
  content: '';
  width: 70px;
  height: 4px;
  background-color: #3ccace;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.reason-lists {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.reason-lists>.list {
  width: 33vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.list-pict {
  margin-bottom: 20px;
  width: 100%;
}

.reason-list-number {
  position: absolute;
  top: 0;
  left: 0;
  width: 55px;
  height: 50px;
  font-size: 30px;
  text-align: center;
  line-height: 60px;
  background-color: #3ccace;
  color: #fff;
}

.reason-list-text {
  font-weight: bold;
  font-size: 24px;
  line-height: 50px;
}

.reason-list-blue-text {
  color: red;
  font-size: 30px;
}

.reason-list-description {
  font-size: 25px;
  margin-top: 20px;
  color: white;
  font-family: 'Osaka';
}

.start{
  font-size: 42px;
  margin-top: 80px;
  color: white;
  font-family: 'ヒラギノ角ゴ StdN','Hiragino Kaku Gothic StdN',sans-serif;
  font-weight: 100px;
}

.start-box{
  border: 1px solid white;
  color: white;
  background-color: #00cc00;
  padding: 10px;
}


