body{
  margin: 0px;
  
  }

.top {
  // background-color: #FFFFFF;
  width: calc(100vw - 300px);
  
}

a {
  text-decoration: none;
}

.main {
  background: white;
  overflow: scroll;
}

// /* 画面上部の「人生を変えるフリマアプリ」帯部分 */
// .title-contents {
//   width: 100p;
//   background-image: image-url('furima-header01.png');
//   background-size: cover;
//   background-repeat: no-repeat;
//   background-position: top center;
//   display: flex;
//   flex-direction: column;
//   align-items: flex-start;
//   justify-content: center;
//   padding: 5vh 15vw;
//   color: #fff;
//   text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
// }

// .service-title {
//   font-size: 8vh;
// }

// .service-explain {
//   font-size: 2.5vh;
//   line-height: 40px;
// }

// .store-btn {
//   display: flex;
//   margin-top: 24px;
// }

// .apple-btn {
//   margin-right: 1vw;
//   height: 9vh;
// }

// .google-btn {
//   height: 9vh;
// }

/* //画面上部の「人生を変えるフリマアプリ」帯部分 */

/* FURIMAが選ばれる3つの理由部分 */
.select-reason-contents {
  padding: 5vh 15vw;
  overflow: scroll;
  background-image: image_url("kaigo-introduction-second.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  flex-direction: column;
  align-items: flex-start;
  width: 80vw;
  height: 100vh;
}

.introduction{
  font-size: 30px;  
  text-align: start;
  color: black;
  margin-bottom: 10px;
  // text-shadow: 0 0 3px rgba(0, 0, 0, 0.9);
  font-family: 'ヒラギノ角ゴ StdN','Hiragino Kaku Gothic StdN',sans-serif;
  
}

.introduction-detail{
  font-size: 20px;
  margin-bottom: 20px;
  color: black;
}

.function-list{
  margin-bottom: 20px;
  text-align: center;
  font-size: 25px;
  
}

.select-reason-contents>.title {
  text-align: center;
  font-size: 3.5vh;
  font-weight: bold;
  margin-bottom: 5vh;
  position: relative;
}

.select-reason-contents>.title::after {
  content: '';
  width: 70px;
  height: 4px;
  background-color: #3ccace;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.reason-lists {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.reason-lists>.list {
  width: 33vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.list-pict {
  margin-bottom: 20px;
  width: 100%;
}

.reason-list-number {
  position: absolute;
  top: 0;
  left: 0;
  width: 55px;
  height: 50px;
  font-size: 30px;
  text-align: center;
  line-height: 60px;
  background-color: #3ccace;
  color: #fff;
}

.reason-list-text {
  font-weight: bold;
  font-size: 24px;
  line-height: 50px;
}

.reason-list-blue-text {
  color: red;
}

.reason-list-description {
  font-size: 18px;
  margin-top: 20px;
  color: white;
}

.start{
  font-size: 50px;
  margin-top: 80px;
  
  color: red;
}
/* //FURIMAが選ばれる3つの理由部分 */


